# ArchLabs Linux
# https://archlabslinux.com

iso_subdir="archlabs"
iso_pattern="archlabs-*-x86_64.iso"
grub_configfile=""

for isofile in $iso_dir/$iso_pattern $iso_dir/$iso_subdir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" {
			iso_path="$2"
			loopback loop $iso_path
			root=(loop)
			probe --label --set=cd_label (loop)
			isocfg="img_dev=$imgdevpath img_loop=$iso_path"
			bootoptions="archisobasedir=arch archisolabel=$cd_label"
			linux_path="/arch/boot/x86_64/vmlinuz-linux"
			initrd_path="/arch/boot/x86_64/initramfs-linux.img /arch/boot/amd-ucode.img /arch/boot/intel-ucode.img"

			menuentry "Boot ArchLabs" {

				echo Loading kernel...
				linux $linux_path $bootoptions $isocfg
				echo Loading initrd...
				initrd $initrd_path
			}
			
			menuentry "Boot ArchLabs with speech" {

				echo Loading kernel...
				linux $linux_path $bootoptions $isocfg accessibility=on
				echo Loading initrd...
				initrd $initrd_path
			}
		}
	fi
done
