# For Solus

iso_pattern="Solus-*.iso"

for isofile in $iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" {
			iso_path="$2"
			loopback loop $iso_path
			probe --label --set=cd_label (loop)
			isocfg="iso-scan/filename=$iso_path"
			bootoptions="root=live:CDLABEL=$cd_label ro rd.luks=0 rd.md=0 rd.live.overlay.overlayfs=1 quiet splash"
			linux_path="(loop)/boot/kernel"
			initrd_path="(loop)/boot/initrd.img"

			menuentry "Start Solus" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions
				echo Loading initrd...
				initrd $initrd_path
			}
		}
	fi
done
