# Detect and chainload .efi files in /ISOs/*

if [ "${grub_platform}" == "efi" ]; then
  for efifile in $iso_dir/*.efi; do
    if [ -e "$efifile" ]; then
      regexp --set=efiname "$iso_dir/(.*)" "$efifile"

      menuentry --class=efi "$efiname ->" "$efifile" {
        chainloader "${2}"
      }
    fi
  done
fi
