# AerynOS (related to Solus Project)
# https://aerynos.com/

iso_pattern="AerynOS-2026.05.2-GNOME-live-x86_64.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			LOOPBACK "$2"
			probe --label --set=cd_label (loop)
			isocfg="iso-scan/filename=$iso_path"
			bootoptions="root=live:LABEL=$cd_label rd.live.image ro rd.live.overlay.overlayfs=1 overlay.redirect_dir=on overlay.redirect_always_follow=on radeon.si_support=0 radeon.cik_support=0 amdgpu.si_support=1 amdgpu.cik_support=1 rd.lvm=0 rd.luks=0 rd.md=0 rd.dm=0 rd.multipath=0 plymouth.use-simpledrm"
			linux_path="(loop,msdos2)/kernel"
			initrd_path="(loop,msdos2)/initrd"

			menuentry "Start AerynOS" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions quiet splash
				echo Loading initrd...
				initrd $initrd_path
			}
		}
	fi
done
