# For GeckoLinux (Static, Rolling and NEXT editions)
# https://geckolinux.github.io

iso_subdir="GeckoLinux"
iso_pattern="GeckoLinux_*.x86_64-*.iso"
grub_configfile=""

for isofile in $iso_dir/$iso_pattern $iso_dir/$iso_subdir/$iso_pattern ; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" {
			iso_path="$2"
			loopback loop $iso_path
			probe --label --set=cd_label (loop)			
			isocfg="iso-scan/filename=$iso_path"
			bootoptions="apparmor=0 splash=silent quiet root=live:CDLABEL=$cd_label rd.live.image"
			linux_path="(loop)/boot/x86_64/loader/linux"
			initrd_path="(loop)/boot/x86_64/loader/initrd"

			menuentry "GeckoLinux-Live" {
				echo Loading kernel...
				linux $linux_path $bootoptions $isocfg
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "GeckoLinux-Live (persistent)" {
				echo Loading kernel...
				linux $linux_path $bootoptions $isocfg rd.live.overlay.persistent rd.live.overlay.cowfs=ext4
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "Failsafe -- GeckoLinux-Live" {
				echo Loading kernel...
				linux $linux_path $bootoptions $isocfg ide=nodma apm=off noresume edd=off nomodeset 3
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "Mediacheck -- GeckoLinux-Live" {
				echo Loading kernel...
				linux $linux_path $bootoptions $isocfg mediacheck=1 plymouth.enable=0
				echo Loading initrd...
				initrd $initrd_path
			}
		}
	fi
done
