rmmod echo
insmod (hd0,msdos2)/boot/grubfm/x86_64-efi/echo.mod
#set lang="tr_TR"

function pathname {
    regexp -s tw '^\([^\)]*\)(.*)$' "$1"
    regexp -s $2 '^(.*/)[^/]*$' "$tw"
}

function scan_isos {
  for d in (*,*) ; do

    if ! regexp -s iso_device '\((.*)\)' "$d"; then continue; fi
    if regexp 'loop' "$iso_device"; then continue; fi

    set realdev="($iso_device)"
    set puredev="$iso_device"

    probe -s devlabel -l "$realdev"
    probe -s devfs --fs "$realdev"

    set fs_msg="${devfs}"
    set devlabel_msg=""

    if test "$devlabel"; then set devlabel_msg=" \"$devlabel\""; fi

    if regexp "hd0,msdos[12]" "$realdev"; then
      set two="USB"
    else
      set two="HDD"
    fi

    submenu " ${two} DISK :=-> ${realdev}${devlabel_msg} [${fs_msg}]" "$realdev" "$puredev" --class ${two} {
      unset theme

      if test $SECOND -le 11; then
        set x=1
      elif test $SECOND -le 23; then
        set x=2
      elif test $SECOND -le 35; then
        set x=3
      elif test $SECOND -le 47; then
        set x=4
      else
        set x=5
      fi

      set theme_path="/MultiOS-USB/themes/MultiOS-USB/theme${x}.txt"

      if [ -e "$theme_path" ]; then
        set theme="$theme_path"
        export theme
      else
        set theme="/MultiOS-USB/themes/MultiOS-USB/theme.txt"
        export theme
      fi

      set realdev="$2"
      set puredev="$3"
      set dirs="|"

      for file in "${realdev}"/*.iso "${realdev}"/*/*.iso; do
        if [ ! -f "$file" ]; then continue; fi

        set isopath=""
        pathname "$file" isopath

        if [ -z "$isopath" ]; then set isopath="/"; fi
        if regexp "\|${isopath}\|" "$dirs"; then continue; fi
          set dirs="${dirs}${isopath}|"

        if regexp "hd0,msdos[12]" "$realdev"; then set tws="USB"; else set tws="HDD"; fi

        submenu " ${tws}  DİZİN :=-> ${realdev}${isopath}" "$realdev" "$isopath" --class diriso {
          unset theme

          if test $SECOND -le 11; then
            set x=1
          elif test $SECOND -le 23; then
            set x=2
          elif test $SECOND -le 35; then
            set x=3
          elif test $SECOND -le 47; then
            set x=4
          else
            set x=5
          fi

          set theme_path="/MultiOS-USB/themes/MultiOS-USB/theme${x}.txt"

          if [ -e "$theme_path" ]; then
            set theme="$theme_path"
            export theme
          else
            set theme="/MultiOS-USB/themes/MultiOS-USB/theme.txt"
            export theme
          fi    

          set dev=""
          set iso_dir="$3"

          if regexp ',' "$2"; then
            regexp -s dev '^\(([^,]+)' "$2"
          else
            regexp -s dev '^\(?([^\)]+)\)?' "$2"
          fi

          regexp -s iso_dir '^(.*)/$' "$iso_dir"

          export dev
          export iso_dir

          echo -e "\e0xe1 YAPILANDIRMAYA AKTARILAN DEĞİŞKENLER"
          echo -e "\e0x5f-------------------------------------------------"
          echo ""
          echo -e "\e0x1f SEÇİLEN DİSK (dev)      :  $2"
          echo ""
          echo -e "\e0x1f HEDEF KLASÖR (iso_dir) :  "$iso_dir" "
          echo ""
          echo -e "\e0x5f-------------------------------------------------"
          echo ""
          echo ""
          echo -e "\e0x8e !!! DİKKAT \e0xf1 $2$3 \e0x9f klasör adında BOŞLUK olmamalı "
          echo -e "\e0x5f-------------------------------------------------"
          echo ""
          echo -e "\e0x2b ... Yapılandırma dosyalarıyla eşleştirme başlıyor... "

          for cfgfile in /MultiOS-USB/config/*/*.cfg /MultiOS-USB/config_priv/*/*.cfg; do
            if [ -f "$cfgfile" ]; then 
              source "$cfgfile"
            fi
          done
        }
      done
    }
  done
}

if [ -z "$iso_dir" ]; then
    set iso_dir="/"
fi

scan_isos "$iso_dir"
