#
set cpu_brand="-"
smbios -t 4 -s 0x10 --set=cpu_brand

set system_vendor="-"
smbios -t 1 -s 0x04 --set=system_vendor
set system_product="-"
smbios -t 1 -s 0x05 --set=system_product
set system_version="-"
smbios -t 1 -s 0x06 --set=system_version

set board_vendor="-"
smbios -t 2 -s 0x04 --set=board_vendor
set board_product="-"
smbios -t 2 -s 0x05 --set=board_product
set board_version="-"
smbios -t 2 -s 0x06 --set=board_version

set bios_vendor="-"
smbios -t 0 -s 0x04 --set=bios_vendor
set bios_version="-"
smbios -t 0 -s 0x05 --set=bios_ver
set bios_date="-"
smbios -t 0 -s 0x08 --set=bios_date
set bios_size="-"
smbios -t 0 -b 0x09 --set=bios_size

smbios -t 17 --match 1 --get-word 0x0c --set=r1
smbios -t 17 --match 2 --get-word 0x0c --set=r2
smbios -t 17 --match 3 --get-word 0x0c --set=r3
smbios -t 17 --match 4 --get-word 0x0c --set=r4

if [ -z "$r1" ]; then set r1=0; fi
if [ -z "$r2" ]; then set r2=0; fi
if [ -z "$r3" ]; then set r3=0; fi
if [ -z "$r4" ]; then set r4=0; fi

if [ "$shim_lock" = "y" ]; then
    grub_secureboot="Enabled"
else
    grub_secureboot="Disabled"
fi


echo ""
echo -e "\MultiOS-USB Versiyon        "
cat $versiyon

echo ""
echo -e "\ Platform                 $grub_cpu-$grub_platform      "
echo ""
echo -e "\ Secureboot               $grub_secureboot         "
echo ""
echo -e "\ CPU Model                $cpu_brand"
echo -e "\ Physical RAM             ${r1} | ${r2} | ${r3} | ${r4} MB "

echo ""
echo -e "\ Manufacturer             $system_vendor          "
echo -e "\ Product Name             $system_product      "
echo -e "\ Version                  $system_version "

echo ""
echo -e "\ Board Manufacturer       $board_vendor          "
echo -e "\ Board Name               $board_product            "
echo -e "\ Board Version            $board_version             "

echo ""
echo -e "\ BIOS Manufacturer        $bios_vendor          "
echo -e "\ BIOS Version             $bios_ver       "
echo -e "\ BIOS Date                $bios_date      "
echo -e "\ BIOS ROM Size            $bios_size              "


echo -en "\n\n\nÇıkmak için ENTER  Tuşuna basın ..."
read


