# Ultramarine Linux
# Support multiple DE such as Plasma, GNOME, Budgie, XFCE
# MultiOS-USB/config_priv/ultramarine/ultramarine-live.cfg

iso_pattern="ultramarine-*.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"

			LOOPBACK "$2"
			probe --label --set=cd_label (loop)

			isocfg="iso-scan/filename=$iso_path"
			bootoptions="root=live:CDLABEL=$cd_label rd.live.image quiet rhgb"

			linux_path="(loop)/boot/vmlinuz"
			initrd_path="(loop)/boot/initramfs.img"

			menuentry "Start Ultramarine Linux" \
				--class fedora --class gnu-linux --class gnu --class os {
				echo "Loading Ultramarine kernel..."
				linux $linux_path $isocfg $bootoptions

				echo "Loading Ultramarine initramfs..."
				initrd $initrd_path
			}

			menuentry "Test media and start Ultramarine Linux" \
				--class fedora --class gnu-linux --class gnu --class os {
				echo "Loading Ultramarine kernel..."
				linux $linux_path $isocfg $bootoptions rd.live.check

				echo "Loading Ultramarine initramfs..."
				initrd $initrd_path
			}

			menuentry "Start Ultramarine in basic graphics mode" \
				--class fedora --class gnu-linux --class gnu --class os {
				echo "Loading Ultramarine kernel..."
				linux $linux_path $isocfg $bootoptions nomodeset

				echo "Loading Ultramarine initramfs..."
				initrd $initrd_path
			}
		}
	fi
done
