# Hiren's BootCD PE
# https://www.hirensbootcd.org

iso_pattern="HBCD_PE_x64*.iso"

for isofile in $iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		if [ "${grub_platform}" == "efi" ]; then
			menuentry "$isoname" "$isofile" --class=windows {
				terminal_output console
				echo Loading boot.wim... This may take some time
				iso_path="$2"
				save_env iso_path
				LOOPBACK "$iso_path"
				linux /MultiOS-USB/tools/wimboot-*/wimboot.x86_64 quiet
				initrd newc:boot.wim:(loop)/sources/boot.wim \
					   newc:mountIso.exe:/MultiOS-USB/tools/mountiso/mountiso64.exe \
					   newc:grubenv:($dev,1)/grub/grubenv \
					   newc:Winpeshl.ini:/MultiOS-USB/config/hbcd/Winpeshl.ini
				echo Loading boot.wim complete, booting...
			}
		fi
	fi
done
