# Bazzite (Fedora Atomic-based Live ISO)
# https://bazzite.gg

iso_pattern="bazzite-*.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			LOOPBACK "$2"
			probe --label --set=cd_label (loop)
			isocfg="iso-scan/filename=$iso_path"
			bootoptions="root=live:CDLABEL=$cd_label rd.live.image enforcing=0 quiet rhgb"
			linux_path="(loop)/images/pxeboot/vmlinuz"
			initrd_path="(loop)/images/pxeboot/initrd.img"

			menuentry "Launch Bazzite Installer" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "Launch Bazzite Installer (Basic Graphics Mode)" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions nomodeset
				echo Loading initrd...
				initrd $initrd_path
			}
		}
	fi
done
