# EuroLinux
# https://euro-linux.com

iso_pattern="ELD-*-x86_64-*.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			LOOPBACK "$2"
			probe --label --set=cd_label (loop)
			isocfg="iso-scan/filename=$iso_path"
			bootoptions="root=live:CDLABEL=$cd_label selinux=0 rd.live.image"
			linux_path="(loop)/images/pxeboot/vmlinuz"
			initrd_path="(loop)/images/pxeboot/initrd.img"

			menuentry "Start EuroLinux" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions quiet
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "Test this media & start EuroLinux" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions rd.live.check quiet
				echo Loading initrd...
				initrd $initrd_path
			}
		}
	fi
done
