# For Slackware64-current: mini and DVD

iso_pattern1="slackware64-current-mini-install.iso"
iso_pattern2="slackware64-current-install-dvd.iso"

for isofile in ($dev,*)$iso_dir/$iso_pattern1 ($dev,*)$iso_dir/$iso_pattern2; do
	if [ -e "$isofile" ]; then
		regexp --set=isoname "$iso_dir/(.*)" "$isofile"

		submenu "$isoname ->" "$isofile" "$iso_dir/$isoname" {
			iso_path="$3"
			LOOPBACK "$2"
			isocfg=""
			bootoptions="vga=normal load_ramdisk=1 prompt_ramdisk=0 ro printk.time=0 SLACK_KERNEL=huge.s"
			linux_path="(loop)/kernels/huge.s/bzImage"
			initrd_path="(loop)/isolinux/initrd.img"

			menuentry "Slackware huge.s kernel" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions nomodeset
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "Slackware huge.s kernel (use KMS console)" {
				echo Loading kernel...
				linux $linux_path $isocfg $bootoptions
				echo Loading initrd...
				initrd $initrd_path
			}
			menuentry "Detect/boot any installed operating system" {
				configfile "(loop)/EFI/BOOT/osdetect.cfg"
			}
		}
	fi
done
