name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build_image:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Linux Release
        run: git archive --prefix=MultiOS-USB_${{ github.ref_name }}/ -o MultiOS-USB_linux_${{ github.ref_name }}.tar.gz ${{ github.ref_name }}

      - name: Windows Release
        run: |
          efiPartSize="$(grep ^efi_size= multios-usb.sh | cut -f2- -d'=' | xargs)"
          imageName="image.img"
          imageSize=$(($(echo $efiPartSize | sed 's/\([0-9]\+\)\([A-Za-z]\)/\1/') + 2))
          tmp_imageName="tmp.img"
          tmp_imageSize="$(($imageSize + 50))$(echo $efiPartSize | sed 's/\([0-9]\+\)\([A-Za-z]\)/\2/')"
          fallocate $tmp_imageName -l $tmp_imageSize
          dev=$(sudo losetup -f -P --show $tmp_imageName)
          echo "YeS" | sudo ./multios-usb.sh $dev
          mkdir part_data && sudo mount ${dev}p2 part_data
          (cd part_data && sudo zip -r ../files.zip *)
          sudo umount ${dev}p2
          sudo dd if=$dev of=$imageName bs=1M count=$imageSize
          sudo sgdisk -d 2 $imageName
          mv docs/README_image README.txt
          sudo zip MultiOS-USB_windows_image_${{ github.ref_name }}.zip $imageName files.zip README.txt

      - name: Generate SHA256SUM
        run: sha256sum MultiOS-USB_windows_image_*.zip MultiOS-USB_linux_*.tar.gz > sha256sums.txt

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "![Downloads](https://img.shields.io/github/downloads/${{ github.repository }}/${{ github.ref_name }}/total)" > notes.txt
          echo "### Main changes:" >> notes.txt
          git log --reverse --pretty=format:"- %h: %s" $(git describe --tags --abbrev=0 HEAD^)..HEAD | egrep -v 'fix:|minor:|typo:' >> notes.txt
          commits="$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/compare/$(git tag --sort=-v:refname | sed -n 2p)...$(git tag --sort=-v:refname | sed -n 1p)"
          echo -e "<br>\n\n**Full Changelog**: $commits" >> notes.txt

          gh release create ${{ github.ref_name }} \
            --title ${{ github.ref_name }} \
            --verify-tag \
            --latest \
            --notes-file notes.txt \
            MultiOS-USB_windows_image_*.zip MultiOS-USB_linux_*.tar.gz sha256sums.txt
